div figure img{
    width: 100%;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    background-color: black;
    background-repeat: no-repeat;
}
div figure a{
    background-size: 5%;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;
    height: 5%;
    min-height: 10px ;
}
